EXTERNAL_DB_PORT=
DB_USERNAME=
DB_PASSWORD=
SPRING_PROFILES_ACTIVE=
APP_PORT=
VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_API_VERSION=
VK_INTROSPECTION_URI=
GOOGLE_CLIENT_ID=
UID=
GID=
PARENT_DIRECTORY=
LOG_DIRECTORY=
WHATSAPP_API_HOST=
WHATSAPP_API_VERSION=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
DADATA_API_KEY